* {
    box-sizing: border-box;
}
html {
    overflow-y: auto;
    height: 100%;
    background-color: #f4f4f4;
}
body {
    font-family: 'Inter', sans-serif;
    font-size:18px;
    color:#222;
    margin:0;
    padding:0;
    position:relative;
    height: 100%;
}
a {
    text-decoration:none
}
a:hover,
a:focus{
    text-decoration:none;
}
div {
    word-break: break-word;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
input, 
button,
select {
    border: none;
    box-sizing: border-box;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
}
button {
    cursor: pointer;
}
h1, h2, h3, p {
    margin: 0;
}
select {
    color: #222;
    background: url(select_arrow.png) #fff no-repeat center right 20px;
}


#wrap {
    height: 100%;
}
.container {
    position: relative; 
    max-width: 500px;
    margin: 0 auto; 
    height: 100%;
    overflow: hidden;
}
.content {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    padding: 20px;
    box-sizing: border-box;
    transform: translateY(-50%);
}
.title {
    font-size: 24px;
    margin: 20px 0;
    text-align: center;
}
.lastWeeksList{
    margin-top: 10px;
}
.result, .lastWeeksList {
    display: flex;
    justify-content: center;
}
.lastWeeksList li,
.result li {
    width: 40px;
    height: 40px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    border-radius: 100%;
    margin: 0 5px;text-shadow: 0px 0px 3px rgba(41, 56, 0, .8)
}
.create{
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 12px;
    background-color: #0a857e;
    border: 1px solid #0a857e;
    display: flex;
    margin: 20px auto;
    color: #fff;
}
.btnFlex{
    display: flex;
    justify-content: space-between;
}
.btnFlex li{
    width: 48%;
    position: relative;
}
.btnFlex li button.edit{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 100%;
    background: url(edit.png) #fff no-repeat center;
    background-size:18px;
    border: 1px solid #064e4a;
}

.btn{
    text-align: center;
    width: 100%;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 12px;
    background-color: #0a857e;
    border: 1px solid #0a857e;
    color: #fff;
}

input.text{
    display: block; 
    width: 100%;
    border-radius: 12px;
    font-size: 18px;
}
input.text {
    margin-bottom: 10px;
    box-shadow: 0px 4px 4px 0px rgba(170, 170, 170, 0.25);
    padding: 20px 30px;
}
input.text::placeholder {
    color: #999;
    font-weight: normal;
}
.subText{
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
    word-break: keep-all;
}
.tip{
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}
.tip em{
    font-style: normal;
    display: none;
}
.lastWeeksNo{
    font-size: 18px;
    text-align: center;
    margin-top: 40px;
}
.percent{
    position: absolute;
    top: 0;
    left: 30px;
    display: flex;
}
.percent li{
    font-size: 14px;
    padding: 5px 10px;
    background-color: #2d3092;
    border: 1px solid #1a1c5d;
    border-radius: 10px;
    color: #fff;
    display: none;
}
.percent li.percent33{
    margin-right: 10px;
}
.reset{
    background: url(reset.png);
    width: 30px;
    height: 30px;
    background-size: 30px;
    color: #fff;
    font-size: 14px;
    border-radius: 10px;
    padding: 5px 10px;
    position: absolute;
    top: 30px;
    right: 30px;
}
.drawSearch{
    display: flex;
    margin: 40px auto 0;
    padding: 10px 20px;
    background-color: #08857e;
    border: 1px solid #0a857e;
    color: #fff;
    border-radius: 12px;
    font-size: 18px;
}
.layerPupop, .testLayer{
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    display: none;
    z-index: 10;
}
.layerContainer, .testLayerContainer{
    position: relative;
    width: 100%;
    height: 100%;
}
.layerContent, .testLayerContent{
    background-color: #f4f4f4;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 100%;
    border-radius: 10px;
    padding: 40px 20px 30px;
}
.layerContent h2{
    font-size: 20px;
    text-align: center;
}
.layerContent h2 span{
    font-size: 14px;
    display: block;
    margin: 10px 0;
}
.testBox .testReset{
    font-size: 18px;
    padding: 10px 20px;
    background-color: #08857e;
    border: 1px solid #0a857e;
    color: #fff;
    border-radius: 12px;
    display: flex;
    margin: 30px auto 0;
}
.testList{
    height: 240px;
    overflow-y: scroll;
}
.testList li{
    display: flex;
    margin-top: 15px;
    justify-content: space-evenly;
}
.testList li:first-child{
    margin-top: 0;
}
.testList li span{
    display: block;
    width: 25px;
    height: 25px;
    background-color: gray;
    color: #fff;
    border-radius: 100%;
    text-align: center;
    line-height: 25px;
    margin-right: 3px;
    font-size: 14px;
}
.testList li span.active{
    background-color: red;
}

.test{
    width: 50px;
    height: 20px;
    background-color: transparent;
    color: transparent;
}
.searchBox{
    display: none;
}
.searchBox .drawForm{
    display: block;
    width: 100%;    
    box-shadow: 0px 4px 4px 0px rgba(170, 170, 170, 0.25);
    padding: 10px 15px;
    border-radius: 4px;
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
}.searchBox .search{
    font-size: 18px;
    padding: 10px 20px;
    background-color: #08857e;
    border: 1px solid #0a857e;
    color: #fff;
    border-radius: 12px;
    display: flex;
    margin: 30px auto 0;
}
.resultBox, .percentBox{
    display: none;
}
.layerContent .close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    background: url(close.png);
    background-size: 30px;
}
.testClose {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 30px;
    height: 30px;
    background: url(close.png);
    background-size: 30px;
}
.resultList > li{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    align-items: center;
    margin-bottom: 10px;
}
.resultList li > ul{
    display: flex;
}
.resultList li > ul li{
    width: 25px;
    height: 25px;
    background-color: gray;
    color: #fff;
    border-radius: 100%;
    text-align: center;
    line-height: 25px;
    margin-right: 3px;
    font-size: 14px;
}
.resultList li > ul li:last-child{margin-right: 0;}
.resultList strong{
    font-size: 16px;
}
.resultList span{
}
.resultList .bonusNo span{
    width: 25px;
    height: 25px;
    background-color: gray;
    color: #fff;
    border-radius: 100%;
    text-align: center;
    line-height: 25px;
    display: block;
    font-size: 14px;
}
.version{
    position: absolute;
    font-size: 12px;
    bottom: 10px;
    right: 10px;
    color: #c0c0c0;
}
.combination em{
    font-style: normal;
    display: block;
    text-align: right;
}
.percentForm{
    display: block;
    width: 80px;    
    box-shadow: 0px 4px 4px 0px rgba(170, 170, 170, 0.25);
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 18px;
    text-align: center;
}
.percentBox > div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.percentBox > div span{
    display: block;
    padding-left: 10px;
    font-size: 20px;
}
.percentBox .apply{
    font-size: 18px;
    padding: 10px 20px;
    background-color: #08857e;
    border: 1px solid #0a857e;
    color: #fff;
    border-radius: 12px;
    display: flex;
    margin: 30px auto 0;
}
#percentText{
    display: block;
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
}