html{
    background-color: #eee3e4;
}
body{
    margin: 0;
    padding: 0;
}
button{
    padding: 0;
    margin: 0;
    border: 0;
    cursor: pointer;
}
img{
    width: 100%;
    display: block;
}
p{
    margin: 0;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
input,
textarea{
    outline: transparent;
}
.content{
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}
.contentArea{
    padding: 0 15px;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 30px);
    /* background-size: contain;
    height: 100%;
    background-position:top center;
    background-repeat:  no-repeat;
    position: relative; */
}
.innerContent{
    position: relative;
    width: 100%;
    height: 100%;
}
/* .area1{
    background-image: url('../img/img_01.jpeg');
}
.area2{
    background-image: url('../img/img_02.jpeg');
}
.area3{
    background-image: url('../img/img_03.jpeg');
}
.area4{
    background-image: url('../img/img_04.jpeg');
}
.area5{
    background-image: url('../img/img_05.jpeg');
}
.area6{
    background-image: url('../img/img_06.jpeg');
}
.area7{
    background-image: url('../img/img_07.jpeg');
} */
.firstBox{
    position: absolute;
    top: 80%;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}
.firstBox .buttonArea{
    display: flex;
    justify-content: center;
}
.firstBox .buttonArea button{
    border-radius: 15px;
    padding: 20px 15px;
    font-size: 16px;
    font-weight: bold;
    width: 160px;
}
.firstBox button span{
    border-radius: 12px;
    padding: 8px;
    margin-left: 5px;
}
.disagree{
    background-color: #c2c2c2;
    color: #fff;
    box-shadow: 0px 3px #909090;
    margin-right: 15px;
}
.disagree span{
    background-color: #fff;
    color: #c2c2c2;
}

.agree{
    background-color: #922020;
    color: #fff;
    box-shadow: 0px 3px #602929;
}
.agree span{
    background-color: #602929;
}

.policy{
    font-size: 16px;
    margin-bottom: 20px;
}
.policy button{
    background: none;
    font-size: 16px;
    color: #000;
}
.policyView{
    background-color: #fff;
    display: none;
    box-sizing: border-box;
    border: 1px solid #333;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 20px;
}

.slectBox{
    position: absolute;
    top: 55%;
    display: none;
    width: 100%;
}
.slectBox .selectItem{
    clear: both;
    overflow: hidden;
    display: none;
}
.slectBox .selectItem li{
    float: left;
    width: calc(50% - 10px);
    margin-bottom: 15px;
}
.slectBox .selectItem li:nth-child(odd){
    margin-right: 20px;
}
.slectBox .selectItem li button{
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px dashed #760d04;
    background-color: #d1b2b6;
    color: #760d04;
    font-weight: bold;
    width: 100%;
}
.slectBox .selectItem li button:hover,
.slectBox .selectItem li button:active{
    color: #fff;
    background-color: #000;
}
.selectItem .inputBox{
    display: flex;
    justify-content: space-between;
}
.selectItem input{
    width: calc(50% - 15px);
    margin-bottom: 30px;
}
.selectItem textarea{
    width: 100%;
}
.selectItem input,
.selectItem textarea{
    box-sizing: border-box;
    border: 1px dashed #760d04;
    background-color: #d1b2b6;
    border-radius: 10px;
    font-size: 20px;
    padding: 20px 10px;
    color: #eee3e4;
    text-align: left;
}
.selectItem input::placeholder,
.selectItem textarea::placeholder{
    color: #eee3e4;
}
.selectItem textarea{
    height: 150px;
    resize: none;
}
.textareaBox{
    vertical-align: middle;
}
.complete{
    height: 45px;
    line-height: 45px;
    background-color: #000;
    color: #fff;
    border-radius: 22px;
    text-align: center;
    width: calc(100% - 20px);
    margin: 10px auto 0;
    display: block;
    font-size: 18px;
}
@media all and (max-width:767px){
    .selectItem input{
        margin-bottom: 15px;
    }
    .selectItem input,
    .selectItem textarea{
        padding: 10px 5px;
        font-size: 16px;
        width: 100%;
    }
    .selectItem .inputBox{
        display: block;
    }
}