@charset "utf-8";

/* ------------------------------------------------------------------------------------------------------------- */
/* font */
@font-face {font-family:'Roboto'; font-style:normal; font-weight:400; src:local('※'), url('../../common/font/Roboto-Regular.woff'); }
@font-face {font-family:'Roboto'; font-style:normal; font-weight:500; src:local('※'), url('../../common/font/Roboto-Medium.woff'); }