@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;900&display=swap');
/* base */
*{
    box-sizing: border-box;
}
html {
    overflow-y: auto;
    height: 100%;
    background-color: #f4f4f4;
}
body {
    font-family: 'Inter', sans-serif;
    font-size:18px;
    color:#222;
    margin:0;
    padding:0;
    position:relative;
    height: 100%;
}
a {
    color: #222;
}
a,
a:hover,
a:focus{
    text-decoration:none;
}
em{
    font-style: normal;
}
div {
    word-break: break-word;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
strong{font-weight: 600;}
input, 
button {
    border: none;
    box-sizing: border-box;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
}
button {
    cursor: pointer;
}
h1, h2, h3, p {
    margin: 0;
}
table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
.test{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(8.png) no-repeat top center;
    color: #fff;
}
#admin{
    background-color: #404040;
    height: 100%;
    position: relative;
}
.adminContainer{
    overflow: hidden;
    position: relative;
    z-index: 100;
    max-width: 1280px;
    padding: 0 20px;
    height: 100%;
    margin: 0 auto;
}
.logoImg{
    margin: 0 auto 50px;
    display: block;
    width: 100px;
}
.loginBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.loginBox input{
    display: block;
    margin-bottom: 20px;
    font-size: 20px;
    border-radius: 12px;
    padding: 10px 20px;
    width: 300px;
    height: 50px;
}
.loginBox button{
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    background-color: #179a6c;
    color: #fff;
    border-radius: 12px;
    height: 50px;
}
.header{
    padding: 45px 0 60px;
    position: relative;
}
.managementNav{
    display: flex;
}
.managementNav li:last-child{
    margin-left: -20px;
}
.managementNav li a{
    display: block;
    width: 175px;
    height: 65px;
    line-height: 65px;
    border-radius: 65px;
    text-align: center;
    font-size: 30px;
    color: #fff;
}
.managementNav li a.active{
    background-color: #fff;
    color: #222;
    font-weight: bold;
    width: 175px;
    padding-right: 0;
}
.managementNav li:first-child a{
    width: auto;
    padding-right: 40px;
}
.managementNav li:first-child a.active{
    width: 175px;
    padding-right: 0;
}
.adminUser{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    display: flex;
    align-items: center;
    color: #fff;
}
.adminUser .logoutBtn{
    color: #fff;
    font-size: 13px;
    background-color: #80808B;
    border-radius: 13px;
    padding: 5px 10px;
}
.adminUser span{
    padding-right: 12px;
}
.adminUser span em{
    text-decoration: underline;
}
.adminSection{
    position: relative;
}
.menuBtn{
    background: none;
    position: absolute;
    top: 20px;
    left: 40px;
    z-index: 10;
    width: 40px;
    height: 40px;
    padding: 0;
    transition: all .4s;
}
.menuBtn svg{
    width: 40px;
    height: 40px;
}
.menuBtn.hidden{
    left: 0;
    transition: all .4s ease .4s;
}
.adminNav.hidden{
    left: -310px;
}
.adminNav{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 290px;
    background-color: #c4c4c4;
    border-radius: 12px;
    padding: 80px 20px 50px;
    transition: all .4s;
}
.depthSection{
    overflow-y: auto;
    height: 100%;
}
.navDepth {
    margin-top: 80px;
}
.navDepth:first-child{
    margin-top: 0;
} 
.navDepth ul li a{
    font-size: 20px;
    display: block;
    padding: 12px 25px;
    border-radius: 25px;
    width: calc(100% - 15px);
    color: #444;
}
.navDepth ul li a.active,
.navDepth ul li a:hover,
.navDepth ul li a:active{
    color: #fff;
    background-color: #404040;
    font-weight: bold;
}
.navTitle{
    padding-left: 20px;
    margin-bottom: 12px;
}
.numberCheck{
    font-size: 20px;
    display: block;
    padding: 12px 25px;
    border-radius: 25px;
    width: calc(100% - 15px);
    font-weight: bold;
    color: #179a6c;
    margin-top: 30px;
}
.numberCheck:hover,
.numberCheck:active,
.numberCheck.active{
    color: #26f2aa;
    background-color: #404040;
}

.adminContent{
    transition: all .4s;
    padding-left: 350px;
}
.adminContent.full{
    padding-left: 70px;
    transition: all .4s ease .4s;
}
.adminContent.pointSection{
    width: 70%;
}
.adminContent.pointSection.full{
    width: 100%;
}
.adminContent.dataSection{
    padding-left: 0;
}
.contentHead{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.titleArea{
    display: flex;
}
.titleArea h3{
    font-size: 30px;
    color: #fff;
}
.titleArea h3.colorGreen{
    color: #26f2aa;
}
.titleArea .pointInput{
    border-radius: 10px;
    margin-left: 75px;
    width: 160px;
    font-size: 20px;
    padding: 0 20px;
    font-weight: bold;
}
.titleArea .titBtn{
    border-radius: 10px;
    padding: 0 20px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #23b983;
    margin-left: 10px;
}
.searchArea{
    display: flex;
}
.searchArea select{
    border: none;
    background-color: transparent;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}
.searchBox{
    position: relative;
}
.searchBox .searchBtn{
    text-indent: -9999px;
    background: url(search_icon.png) transparent no-repeat center;
    background-size: contain;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    padding: 0;
}
.searchBox input{
    width: 240px;
    border-radius: 10px;
    padding:10px 50px 10px 20px;
    font-size: 18px;
    margin-left: 20px;
}
.managementTable caption{
    display: none;
}
.managementTable{
    margin-top: 40px;
}
.alignL{
    text-align: left !important;
    justify-content: flex-start !important;
}
.alignC{
    text-align: center !important;
    justify-content: center !important;
}
.managementTable th,
.managementTable td{
    text-align: center;
    color: #fff;
}
.managementTable th:first-child,
.managementTable td:first-child{
    text-align: left;
    padding-left: 0;
}
.managementTable th{
    font-size: 26px;
    padding: 0 10px 12px;
    border-bottom: 3px solid #fff;
}
.managementTable tbody tr{
    border-bottom: 2px dashed #fff;
}
.managementTable td{
    font-weight: bold;
    font-size: 20px;
    padding: 19px 10px;
}
.managementTable .alignL{
    text-align: left;
}
.numberArea{
    display: flex;
    align-items: center;
    justify-content: center;
}
.view{
    height: 25px;
    padding: 5px 10px;
    border-radius: 6px;
    background-color: #808080;
    color: #fff;
    margin-left: 15px;
}
.pagenation{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.pagenation li{
    text-align: center;
}
.pagenation li a{
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #fff;
}
.pagenation li a.active{
    width: 60px;
    background-color: #23b983;
    border-radius: 20px;
}
.checkBox{
    display: flex;
}
.checkBox input{
    position: relative;
    overflow: hidden;
    margin: -1px;
    border: 0;
    padding: 0;
    width: 0;
    height: 0;
    clip: rect(0 0 0 0);
    z-index: -1;
    opacity: 0;
}
.checkBox input + label{
    display: inline-block;
    min-height: 28px;
    padding: 0 0 0 28px;
    line-height: 18px;
    background: url(check_on.png) #fff no-repeat left top;
    border-radius: 5px;
    cursor: pointer;
}
.checkBox input:checked + label{
    background: url(check_on.png) #fff no-repeat left top;
    background-size: contain;
}
.checkBox input:disabled + label{
    background: url(check_on.png) #999 no-repeat left top;
}
.history{
    font-weight: bold;
    font-size: 14px;
    padding: 0 18px;
    height: 32px;
    border-radius: 16px;
    color: #fff;
    background-color: #808080;
}
.inquiryTitle{
    padding: 0;
    background-color: transparent;
    color: #fff;
    font-size: 20px;
}
.moreArea{
    display: none;
}
.detailArea{
    padding: 15px;
    border-radius: 10px;
    background-color: #999;
    color: #222;
    margin-bottom: 15px;
}
.detailArea strong{
    display: block;
    padding-bottom: 10px;
}
.detailArea p{

}
.answerArea {
    display: flex;
    margin-bottom: 15px;
}
.answerArea textarea{
    width: 100%;
    border-radius: 10px;
    height: 100px;
    overflow-y: auto;
    resize: none;
    padding: 15px;
    font-size: 18px;
    color: #222;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
}
.answerArea button{
    margin-left: 15px;
    background-color: #23b983;
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
    width: 120px;
}
.unReply{
    color: #ff6969;
}
/* new list */

.managementTitle{
    overflow: hidden;
    clear: both;
    border-bottom: 3px solid #fff;
    display: flex;
    margin-top: 30px;
}
.managementTitle li{
    float: left;
    text-align: center;
    font-size: 20px;
    color: #fff;
    padding: 12px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.managementList > li{
    border-bottom: 2px dashed #fff;
}
.managementList .innerList{
    overflow: hidden;
    clear: both;
    display: flex;
}
.managementList .innerList li{
    float: left;
    text-align: center;
    color: #fff;
    font-size: 20px;
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonArea button{
    color: #fff;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 10px;
}
.backBtn{
    background-color: #808080
}
.saveBtn{
    background-color: #23b983;
    margin-left: 10px;
}
.pointPercent{
    border: none;
    font-size: 20px;
    color: #222;
    width: 80px;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bold;
}
.account span{
    display: block;
    font-size: 16px;
}
.state{
    border: none;
    font-size: 16px;
    color: #222;
    width: 90px;
    padding: 5px 5px;
    border-radius: 10px;
}
.settingNumber{
    margin-top: 30px;
}
.settingNumber > div strong{
    color: #fff;
    display: block;
    margin-bottom: 10px;
    font-size: 22px;
}
.settingNumber > div input{
    height: 42px;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 18px;
}
.settingNumber > div button{
    background-color: #23b983;
    color: #fff;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    height: 42px;
    margin-left: 10px;
}
.winnerCheck{
    margin-top: 10px;
}
.winnerCheck .roundChoice{
    height: 42px;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 18px;
}
.winnerCheck button{
    background-color: #23b983;
    color: #fff;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    height: 42px;
    margin-left: 10px;
}
.winnerArea{
    display: flex;
    margin-top: 30px;
}
.winnerArea > li{
    width: 50%;
}
.winnerList li{
    margin-bottom: 25px;
}
.winnerList .winnerTitle{
    color: #fff;
    font-size: 20px;
    display: block;
    margin-bottom: 20px;
}
.winnerList .winnerTitle span{
    color: #26f2aa;
}
.winnerList .innerWinner li{
    color: #fff;
    margin-bottom: 15px;
}
.tabMenu{
    display: flex;
}
.tabMenu li{
    margin-right: 20px;
}
.tabMenu li button{
    color: #fff;
    font-size: 20px;
    background-color: transparent;
    padding: 0;
    position: relative;
}
.tabMenu li.active button{
    color: #26f2aa;
    padding-bottom: 10px;
}
.tabMenu li.active button::before{
    content:'';
    width: 30px;
    height: 3px;
    background-color: #26f2aa;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.tabContent{
    margin-top: 30px;
}
.numberItem li{
    display: flex;
    justify-content: space-between;
}
.numberItem li .active{
    color: #fff;
    background-color: #23b983;
}
.numberItem span{
    width: 26px;
    height: 26px;
    display: block;
    background-color: #dddddd;
    text-align: center;
    line-height: 26px;
    border-radius: 100%;
    font-size: 14px;
}
.numberItem span:first-child{
    margin-left: 0;
}
.winnerList .innerWinner li:last-child{
    margin-bottom: 0;
}
.winnerList .innerWinner li .winNumber{
    margin-left: 10px;
}
.settingNumber .exceptNumber{
    margin-top: 30px;
}
.settingNumber .winNumber input{
    width: 280px;
}
.settingNumber .exceptNumber input{
    width: 600px;
}
.managementList .innerList li span.time{
    margin-left: 5px;
}
.managementTitle.type1 li:nth-child(1),
.managementList.type1 .innerList li:nth-child(1){
    width: 25%;
}
.managementTitle.type1 li:nth-child(2),
.managementList.type1 .innerList li:nth-child(2){
    width: 15%;
}
.managementTitle.type1 li:nth-child(3),
.managementList.type1 .innerList li:nth-child(3){
    width: 30%;
}
.managementTitle.type1 li:nth-child(5),
.managementList.type1 .innerList li:nth-child(5){
    width: 10%;
}

.managementTitle.type2 li:nth-child(1),
.managementList.type2 .innerList li:nth-child(1){
    width: 5%;
}
.managementTitle.type2 li:nth-child(2),
.managementList.type2 .innerList li:nth-child(2){
    width: 30%;
}
.managementTitle.type2 li:nth-child(3),
.managementList.type2 .innerList li:nth-child(3){
    width: 15%;
}
.managementTitle.type2 li:nth-child(4),
.managementList.type2 .innerList li:nth-child(4){
    width: 30%;
}
.managementTitle.type2 li:nth-child(5),
.managementList.type2 .innerList li:nth-child(5){
    width: 20%;
}

.managementTitle.type3 li,
.managementList.type3 .innerList li{
    width: 20%;
}
.managementTitle.type3 li:nth-child(3),
.managementList.type3 .innerList li:nth-child(3){
    width: 35%;
}
.managementTitle.type3 li:nth-child(4),
.managementList.type3 .innerList li:nth-child(4){
    width: 25%;
}

.managementTitle.type4 li:nth-child(1),
.managementList.type4 .innerList li:nth-child(1){
    width: 35%;
}
.managementTitle.type4 li:nth-child(2),
.managementList.type4 .innerList li:nth-child(2){
    width: 25%;
}
.managementTitle.type4 li:nth-child(3),
.managementList.type4 .innerList li:nth-child(3){
    width: 25%;
}
.managementTitle.type4 li:nth-child(4),
.managementList.type4 .innerList li:nth-child(4){
    width: 15%;
}

.managementTitle.type5 li,
.managementList.type5 .innerList li{
    width: 33%;
}

.managementTitle.type6 li:nth-child(1),
.managementList.type6 .innerList li:nth-child(1){
    width: 5%;
}
.managementTitle.type6 li:nth-child(2),
.managementList.type6 .innerList li:nth-child(2){
    width: 25%;
}
.managementTitle.type6 li:nth-child(3),
.managementList.type6 .innerList li:nth-child(3){
    width: 15%;
}
.managementTitle.type6 li:nth-child(4),
.managementList.type6 .innerList li:nth-child(4){
    width: 15%;
}
.managementTitle.type6 li:nth-child(5),
.managementList.type6 .innerList li:nth-child(5){
    width: 25%;
}
.managementTitle.type6 li:nth-child(6),
.managementList.type6 .innerList li:nth-child(6){
    width: 15%;
}

.managementTitle.type7 li:nth-child(1),
.managementList.type7 .innerList li:nth-child(1){
    width: 5%;
}
.managementTitle.type7 li:nth-child(2),
.managementList.type7 .innerList li:nth-child(2){
    width: 15%;
}
.managementTitle.type7 li:nth-child(3),
.managementList.type7 .innerList li:nth-child(3){
    width: 13%;
}
.managementTitle.type7 li:nth-child(4),
.managementList.type7 .innerList li:nth-child(4){
    width: 12%;
}
.managementTitle.type7 li:nth-child(5),
.managementList.type7 .innerList li:nth-child(5){
    width: 20%;
}
.managementTitle.type7 li:nth-child(6),
.managementList.type7 .innerList li:nth-child(6){
    width: 23%;
}
.managementTitle.type7 li:nth-child(7),
.managementList.type7 .innerList li:nth-child(7){
    width: 12%;
}

@media all and (max-width:1180px){
    .adminNav{
        height: 100%;
    }
    .adminSection{
        height: calc(100% - 240px);
    }
    .adminContent{
        height: 100%;
        overflow-y: auto;
    }
}